<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<form method="POST" action="{{url_for('signup')}}">
    <input type="text" name="email" id="email" placeholder="email"/>
    <input type="text" name="password" id="password" placeholder="password"/>
    <input type="text" name="username" id="username" placeholder="username"/>
    <input type="submit" name="" id="submit" value="submit">
    <!-- <a style="border:solid 1px #333;display:inline-block; padding:3px; cursor: pointer;" id="submit" value="submit">submit</a> -->
</form>
<script>
    // $(document).ready(function(){
    //     $("#submit").on("click", function(){
    //         $.ajax({
    //             type:"POST",
    //             contentType: "application/json",
    //             data: JSON.stringify({
    //                 "email": $("input#email").val(),
    //                 "password": $("input#password").val(),
    //                 "username": $("input#username").val(),
    //             }),
    //             url: "http://167.99.133.206:8080/auth/signup/"
    //         })
    //         .always(function(res){
    //             if(res.status != 200){
    //                 console.log(res.status);
    //             }else{
    //                 console.log(res.token);
    //             }
    //         })
    //     })
    // });
</script>